.content {
    background-color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}
.form-container .form-control {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.form-container .form-control:focus {
    border-bottom: 2px solid #000;
    box-shadow: none;
    outline: none;
}
.form-container .btn-custom {
    background-color: #C1E1C1;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.form-container .btn-custom:hover {
    background-color: #A3D1A3;
}
.form-container .back-link {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.form-container .back-link i {
    margin-right: 5px;
}
.form-container .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
