/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for the login box */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #f2f2f2; /* Fondo claro del formulario */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

/* Logo */
.logo {
    width: 100px;
    margin-bottom: 20px;
}

/* Heading */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Input Fields */
.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-group input:focus {
    border-color: #333;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
    color: #666;
}

/* Forgot Password Link */
.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Buttons */
.login-btn, .register-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #333; /* Botón de iniciar sesión negro */
    color: white;
}

.register-btn {
    background-color: #8CE7CE; /* Botón de registrarse verde claro */
    color: #333;
}

.login-btn:hover {
    background-color: #555;
}

.register-btn:hover {
    background-color: #76d8b9;
}

/* Footer */
footer {
    margin-top: 20px;
    color: #ccc;
    font-size: 12px;
}

footer p {
    margin: 0;
    text-align: center;
}
